@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');

:root{
    --darkgrey:#383838;
    --white:white;
    --blue:#346DFF;
    --yellow:#FFCD4B;
    --title-font-family: 'Josefin Sans', sans-serif;
    --title-font-weight: 700;
    --banner-title-font-size: 2rem;
    --body-font-family: 'Manrope', sans-serif;
    --body-font-size: 1rem;
    --body-font-line-height: 1.56rem;
    --button-font-weight: 600;

}

*{
    margin: 0;
    padding: 0;

}

body{
    margin: 0 auto;
    position: relative;
}

.mobile-nav{
    position: absolute;
    width: 100%;
    position: fixed;
    padding: 10px 0px;
    z-index: 5;
}


.nav-logo{
    width: 54px;
    height: 32px;
    margin: 0 8px;
    object-fit: cover;
}

a{
    display: block;
    text-decoration: none;   
}

.mobile-nav-item{
    color: white;
    padding: 10px;
}

.home{
    background-color: var(--darkgrey);
    border-radius: 30px;
}

.dot{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: var(--blue);
    border-radius: 50%;
    margin-left: 5px;
}

.blur-wrapper{
    /* backdrop-filter: blur(10px); */
    margin: 0 auto;
    width: 312px;
    border-radius: 30px;
}

.mobile-nav ul{
    margin: 0 auto;
    width: 312px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 4px 0px;
    border-radius: 30px;
    background-color: rgba(72,71,71,1);
    border: 0.5px solid white;
}

.mobile-nav ul li{
    font-family: 'Josefin Sans', sans-serif;
    list-style: none;
    font-size: 0.8rem;
}


.home-banner{
    padding: 0 24px;
    height: 100vh;
    background-color: var(--darkgrey);
    position: relative;
}

.banner-wrapper{
    display: flex;
    flex-direction: column;
    padding: 30vh 24px 0 24px;
}

.home-project{
    height: 600px;
    background-color: white;
}

.banner-title{
    color: var(--white);
    font-family: var(--title-font-family);
    padding-bottom: 40px;
}


h1{
    font-size: 1rem;
    font-weight: var(--title-font-weight);
    margin-bottom: 10px;
}

h2{
    font-size: var(--banner-title-font-size);
    font-weight: var(--title-font-weight);
}

.banner-discription{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-discription p{
    width: 100%;
    color: var(--white);
    font-family: var(--body-font-family);
    font-weight: 300;
    line-height: var(--body-font-line-height);
    padding-bottom: 50%;

}

.button{
    font-family: var(--body-font-family);
    display: inline;
    padding: 12px 32px;
    color: var(--white);
    border-radius: 40px;
    font-weight: var(--button-font-weight);
}

.blue-button{
    background-color: #346DFF;
}

.fa-arrow-right{
    margin-left: 10px;
}

.arrow-down{
    position:absolute;
    bottom: 10px;
    transform: translateX(-50%);
    left: 50%;
}


footer{
    padding: 0 24px;
    background-color: var(--darkgrey);
    height: 100px;
    
}
.footer-wrapper{
    font-family: var(--title-font-family);
    font-weight: var(--title-font-weight);
    font-size: 1rem;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    height: 100%;
}

.social-media-icons{
    display: flex;
    justify-content: center;
    gap:30px;

}

.icon{
    scale: 1.5;
}

.copyright{
    text-align: center;
}
